{% extends 'customer/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <strong><h1>What's On Our Menu?</h1></strong>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center">
            <form method="GET" action="{% url 'menu-search' %}">
                <div class="md-form mt-0 active-cyan-2">
                    <input class="form-control" name="q" type="text" placeholder="Search Our Menu" aria-label="Search" value="{{ request.GET.q }}">
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center no-gutters">
        {% for item in menu_items %}
        <div class="col-lg-4 col-md-6 col-sm-12 text-center text-white mx-auto">
            <div class="card" style="background-color: rgba(28,25,20,0.8); margin: 2.6%; padding: 0%;">
                <img class="rounded mx-auto" src="{{ item.image.url }}" width="350" height="300">
                <h5 class="text-white">{{ item.name }}</h5>
                <p>{{ item.description }}</p>
                <p>Price: {{ item.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}