<nav class="navbar navbar-expand-md navbar-light " style="background-color: #f0f5f5">
  <div class="logo">
    <a class="navbar-brand js-scroll-trigger logo-header" href="#">
      <img src="images/logo.png" alt="">
    </a>
  </div>
  <a href="/" class="navbar-brand">Home</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
      {% else %}
        <a href="{% url 'login' %}" class="nav-item nav-link">Sign in</a>
      {% endif %}

    </div>
</nav>