{% extends 'users/base.html' %}

{% block content %}
<div id="banner" class="banner full-screen-mode parallax">
  <div class="container pr">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="banner-static">
        <div class="banner-text">
          <div class="banner-cell">
            <h1>Order <span class="typer" id="some-id" data-delay="200" data-delim=":" data-words="Tasty Food:Refreshing Drinks:Fresh Groceries" data-colors="red"></span><span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span></h1>
            <hr>
            <h5 class="text-white">Get <span class="typer" id="some-id" data-delay="200" data-delim=":" data-words="tasty food:refreshing drinks:fresh groceries" data-colors="red"></span><span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span>at your doorstep</h5>
            <p>Order Now...</p>
            <div class="book-btn">

              <button type="button" data-bs-toggle="modal" data-bs-target="#LogInModal" class="btn btn-warning table-btn hvr-underline-from-center">Log In</button>
            </div>
            <a href="#about">
              <div class="mouse"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-content my-3 p-3 modal fade" id="LogInModal" tabindex="-1" aria-labelledby="LogInModalLabel" aria-hidden="true">
  <div class="container modal-dialog">
    <div class="row justify-content-center modal-content">
      <div class="col">
        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
          <div class="card-header justify-content-center modal-header">
            <h3 class="font-weight-light my-1 text-center modal-title" id="LogInModalLabel">Sign In</h3>
          </div>
          {% if form.errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
              {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
              {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          <div class="card-body modal-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md-10 offset-md-1">
                  <div class="form-group">
                    {{ form.username }}
                  </div>
                  <div class="form-group">
                    {{ form.password }}
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-10 offset-md-1">
                  <div class="form-group">
                    <!-- Add a Remember me functionality -->
                    {{ form.remember_me }}
                    <label> Remember me</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-10 offset-md-1">
                  <div class="form-group mt-0 mb-1">
                    <button name="login" class="col-md-12 btn btn-dark" id="login">Sign in</button>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-10 offset-md-1">
                  <div class="form-group mt-0 mb-1">
                    <hr>
                    <p class="text-center"><strong>OR</strong></p>
                    <hr>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-link btn-lg active btn-block">Sign in with Google</a> 
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer text-center">
            <div class="small">
              <p style="display: inline;">Don't have an account yet?</p>
              <a href="{% url 'users-register' %}">Go to signup</a><br>
              <a href="#"><i>Forgot Password?</i></a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}